.containerCardReferences {
    max-width: 350px;
    width: 28%;
    height: 250px;
    border: 10px solid gray;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerCardReferences > div {
    margin: 0 0 0 15px;
    display: flex;
    gap: 5px;
}

.FourCamp{
    flex-wrap: wrap;
}

@media (max-width: 1279px) {
    .containerCardReferences {
        max-width: 350px;
        width: 45%;
        height: 250px;
        border: 10px solid gray;
        font-size: 20px;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 920px) {
    .containerCardReferences {
        max-width: 350px;
        width: 300px;
        height: 250px;
        border: 10px solid gray;
        font-size: 20px;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .containerCardReferences {
        width: 100%;
        height: 250px;
        border: 10px solid gray;
        font-size: 20px;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}