.containerTitleCover {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  margin: 40px 0 0 0;
  gap: 10px;
  color: black;
}

.containerTitleandLogo {
  display: flex;
  align-items: center;
  width: 85%;
  gap: 10px;
}

.containerTitleandLogo > h1{
  font-size: 70px;
}

.containerImg {
  background: rgb(189, 255, 149);
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
    height: 130px;
    width: 130px;
}

.hrTitleCover {
  width: 85%;
  height: 25px;
  background: rgb(189, 255, 149);
  border: none;
}